<html>
<head>
  <title>init</title>
</head>
<link rel="stylesheet" href="/stylesheets/style.css"/>
<body>

  <div class="loading" id="J_loading">
    <div class="loading-icon"></div>
  </div>
<div class="top-title"></div>
<div class="banner"></div>
<div class="input-main"></div>
<div class="remember"></div>
</body>
<script type="application/javascript" src="/javascripts/build/index.js"></script>
</html>